.cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    overflow: scroll;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalItems {
    display: block;
    max-height: 100vh;
    overflow: scroll;
    padding: 40px;
}